@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gmarket";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gmarket-light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gmarket-bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  body {
    @apply font-gmarket;
  }

  .gmarketBold {
    font-family: gmarket-bold;
  }

  .gmarketLight {
    font-family: gmarket-light;
  }
}

@layer components {
  .menuBtn {
    @apply px-2 py-2 rounded-md cursor-pointer hover:bg-yellow;
  }

  .homeCard {
    @apply flex items-center justify-between rounded-2xl px-5 py-3 h-20 bg-yellow;
  }

  .iconHover {
    @apply p-1 cursor-pointer hover:bg-yellow rounded-full;
  }

  .checkbox {
    @apply appearance-none checked:bg-orange checked:border-none size-4 border-neutral-400 border-[1px] checked:ring-1 ring-orange ring-offset-1 rounded-full;
  }

  .pageTitle {
    @apply gmarketBold text-[40px] text-center text-orange tracking-widest;
  }

  .pageDesktopContainer {
    @apply lg:px-96 px-24 py-7 flex flex-col justify-center items-center gap-5 lg:gap-10;
  }

  .createTeamFormContainer {
    @apply px-6 w-[510px] lg:w-[700px] flex flex-col justify-around items-center h-[500px] py-10;
  }

  .selectMode {
    @apply bg-yellow bg-opacity-45;
  }

  .mode {
    @apply border-2 border-yellow w-40 py-6 rounded-xl cursor-pointer;
  }

  .companyInfoInput {
    @apply border-2 border-yellow w-[180px] px-2 focus:outline-none focus:border-orange;
  }

  .formCard {
    @apply h-full flex flex-col justify-between items-center py-10;
  }
}
input {
  margin: 0.4rem;
}
